* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Cinzel', serif;
}

#header {
  height: 150px;
}

#page {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

#column-left {
  float: left;
  height: 300px;
  width: 25%;
}

#column-middle {
  float: left;
  height: 300px;
  width: 50%;
}

#column-right {
  float: left;
  height: 300px;
  width: 25%;
}

.button {
  color: white;
  padding: 4px 10px;
  background-color: firebrick;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.button:hover {
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
